@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

/* font-family: 'Montserrat', sans-serif;  */

/*blue*/
.bg-0 {
    background-color: rgba(53, 107, 141, 0.4);
}

/*blue2 */
.bg-1 {
    background-color: rgba(72, 96, 96, 0.2);
}
/*green1*/
.bg-2 {
    background-color: rgba(120, 168, 120, 0.2);
}
/*pink*/
.bg-3 {
    background-color: rgba(120, 48, 24, 0.2);
}
/*green2*/
.bg-4 {
    background-color: rgba(96, 120, 96, 0.2);
}
/*yellow1*/
.bg-5 {
    background-color: rgba(240, 168, 0, 0.2);
}

/*greige*/
.bg-6 {
    background-color: rgba(24, 24, 24, 0.2);
}
/*yellow2*/
.bg-7 {
    background-color: rgba(240, 192, 0, 0.2);
}
/*blue3*/
.bg-8 {
    background-color: rgba(0, 56, 111, 0.2);
}
/*yellow4*/
.bg-9 {
    background-color: rgba(243, 216, 25, 0.2);
}
/*green3*/
.bg-10 {
    background-color: rgba(0, 156, 0, 0.2);
}
/*purple*/
.bg-11 {
   background-color: rgba(168, 77, 161, 0.2);
}
/*beige*/
.bg-12{
    background-color: rgba(163, 124, 72, 0.2);
}
/*brown*/
.bg-13 {
    background-color: rgba(175, 121, 96, 0.2);
}
/*mustard*/
.bg-14 {
    background-color: rgba(203, 165, 0, 0.2);
}
/*blue4*/
.bg-15 {
    background-color: rgba(0, 130, 174, 0.2);
}
/*beige2*/
.bg-16 {
    background-color: rgba(215, 201, 184, 0.2);
}
/*beige3*/
.bg-17 {
    background-color: rgba(185, 165, 167, 0.2);
}
/*nearly-white*/
.bg-18 {
    background-color: rgba(254, 251, 242, 0.6);
}

.text-color {
    color: #4A4A4A;
}

.font-1 {
    font-family: 'Montserrat', sans-serif;
}

.font-2 {
    font-family: Helvetica, sans-serif;
}

p, li {
    font-family: Helvetica, sans-serif;
    font-size: small;
    color: #4A4A4A;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.font-xs {
    font-size: x-small;
} 


.footer-links {
    font-family: Helvetica, sans-serif;
    font-size: small;
    color: #4A4A4A;
}

.title {
    font-weight: 500;
    line-height: 1.5;
    font-size: 40px;
}

.sub-title {
    font-weight: 400;
}

.date {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: 600;
}

span {
    margin: 0;
    height: 36px;
}

.hs-book {
    height: 225px;
}

.todays-title {
    font-weight: 400;
    font-size: large;
    text-decoration: none;
    color: #4A4A4A;
}

.book-card-title {
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
    color: #4A4A4A;
}



/*
Från sketch: 
Ljusblå: #356B8D - rgba(53, 107, 141, 0.4)
Ljusgrå: #486060 - rgba(72, 96, 96, 1)
Ljusgrön: #78A878 - rgba(120, 168, 120, 1)
Ljusgrön2: #607860 - rgba(96, 120, 96, 1)
Ljusgul: #F0A800 - rgba(240, 168, 0, 1)
Ljusrosa: #783018 - rgba(120, 48, 24, 1)
Ljusgrå2: #181818 - rgba(24, 24, 24, 1)
/*