.footer {
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0.5em 0;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.footerLinks {
  padding: 0.5em 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.footerLinks a {
  color: #333;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 7em;
  }

  .footerLinks {
    padding: 1em 0 1em 2em;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}