/*main text font*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
/*heading font maybe*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/*Colors
almost white:F1F1F3
sage 1:898D91
sage2: 7A7E89
violet: 858198
eggplant:201B23


Från sketch: 
Ljusblå: #356B8D
Ljusgrå: #486060
Ljusgrön: #78A878
Ljusgrön2: #607860
Ljusgul: #F0A800
Ljusrosa: #783018
Ljusgrå2: #181818


.App {
  font-family: 'Libre Caslon Text', serif;
  text-align: center;
}


h1, h2, h3, h4{
  font-family: 'Libre Baskerville', serif;
}

* {
  margin: 0;
  background-color: #F1F1F3;
}*/